<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bbaw.pdr.ae.control.datahandlingFactory">
      <datahandlingFactory
            class="org.bbaw.pdr.ae.control.datahandling.solr.DataHandlingFactory">
      </datahandlingFactory>
   </extension>

</plugin>
