<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
         <command
            categoryId="org.bbaw.pdr.ae.category.file"
            defaultHandler="org.bbaw.pdr.ae.collections.commands.OpenCollectionHandler"
            id="org.bbaw.pdr.ae.collections.commands.OpenCollection"
            name="%command.name">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.file"
            defaultHandler="org.bbaw.pdr.ae.collections.commands.OpenClipboardHandler"
            id="org.bbaw.pdr.ae.collections.commands.OpenClipboard"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.file"
            defaultHandler="org.bbaw.pdr.ae.collections.commands.SaveClipboardHandler"
            id="org.bbaw.pdr.ae.collections.commands.SaveClipboard"
            name="%command.name.1">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            defaultHandler="org.bbaw.pdr.ae.collections.commands.AddToCollectionHandler"
            id="org.bbaw.pdr.ae.collections.commands.AddToCollection"
            name="%command.name.2">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            defaultHandler="org.bbaw.pdr.ae.collections.commands.RemoveFromClipboardHandler"
            id="org.bbaw.pdr.ae.collections.commands.RemoveFromClipboard"
            name="%command.name.3">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
	   <menuContribution locationURI="popup:org.bbaw.pdr.ae.view.main.views.Treeview">
		    <command
		        commandId="org.bbaw.pdr.ae.collections.commands.AddToCollection"
		        icon="icons/clipboard_plus.png"
		         label="%command.label"
		        style="push">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </visibleWhen>
		        
		    </command>
		    <command
		        commandId="org.bbaw.pdr.ae.collections.commands.RemoveFromClipboard"
		        icon="icons/clipboard_minus.png"
		         label="%command.label.0"
		        style="push">
		        <visibleWhen>
		          <with
		                variable="org.bbaw.pdr.ae.view.treeType">
		             <equals
		                   value="clipboard">
		             </equals>
               <and>
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </and>
		          </with>
		       </visibleWhen>
		    </command>
		</menuContribution>
		<menuContribution locationURI="menu:org.bbaw.pdr.ae.view.main.fileMenu">
		    <command
		        commandId="org.bbaw.pdr.ae.collections.commands.OpenClipboard"
		        icon="icons/clipboard.png"
		         label="%command.label.1"
		        style="push">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </visibleWhen>
		    </command>
		    <command
		        commandId="org.bbaw.pdr.ae.collections.commands.OpenCollection"
		         label="%command.label.2"
		        style="push">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </visibleWhen>
		    </command>
		    <command
		        commandId="org.bbaw.pdr.ae.collections.commands.SaveClipboard"
		        icon="icons/clipboard_save.png"
		         label="%command.label.3"
		        style="push">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </visibleWhen>
		    </command>
		</menuContribution>
		<menuContribution locationURI="popup:org.bbaw.pdr.ae.view.main.views.AspectsView">
		    <command
		        commandId="org.bbaw.pdr.ae.collections.commands.AddToCollection"
		        icon="icons/clipboard_plus.png"
		         label="%command.label.4"
		        style="push">
         <visibleWhen
               checkEnabled="false">
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </visibleWhen>
		    </command>
		</menuContribution>
	</extension>

</plugin>
