<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.bbaw.pdr.ae.identifier.ConcurrenceSearchService" name="ConcurrenceSearchService" schema="schema/org.bbaw.pdr.ae.identifier.ConcurrenceSearchService.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.identifiers.commands.OpenIdentifierPerspectiveHandler"
            id="org.bbaw.pdr.ae.view.identifiers.commands.OpenIdentifierPerspective"
            name="%command.name.OpenIdentifierPerspective">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.identifiers.commands.OpenBrowserDialogHandler"
            id="org.bbaw.pdr.ae.view.identifiers.commands.OpenBrowserDialog"
            name="%command.name.OpenBrowserDialog">
         <commandParameter
               id="org.bbaw.pdr.ae.view.identifiers.url"
               name="url"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.identifiers.commands.OpenBrowserViewHandler"
            id="org.bbaw.pdr.ae.view.identifiers.commands.OpenBrowserView"
            name="%command.name.OpenBrowserView">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.identifiers.commands.OpenIdentifierSearchViewHandler"
            id="org.bbaw.pdr.ae.view.identifiers.commands.OpenIdentifierSearchView"
            name="OpenIdentifierSearchView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bbaw.pdr.ae.view.identifiers.view.ExternalIdentiferPerspective"
            icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/browser.png"
            id="org.bbaw.pdr.ae.view.identifiers.view.ExternalIdentiferPerspective"
            name="%perspective.name.IdentifierPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.bbaw.pdr.ae.view.identifiers.view.BrowserViewPart"
            icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/browser.png"
            id="org.bbaw.pdr.ae.view.identifiers.view.BrowserView"
            name="%view.name.BrowserView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.bbaw.pdr.ae.view.identifiers.view.IdentifierSearchView"
            icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/identifier.png"
            id="org.bbaw.pdr.ae.view.identifiers.view.IdentifierSearchView"
            name="%view.name.IdentifierSearchView"
            restorable="true">
      </view>
   </extension>
</plugin>
