<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
         <command
            defaultHandler="org.bbaw.pdr.ae.aeimport.commands.ImportHandler"
            id="org.bbaw.pdr.ae.aeimport.commands.Import"
            name="Import">
      </command>
   </extension>

</plugin>
