
bin/
.svn/
.metadata/

.project
/org.bbaw.pdr.ae.common/baseXHOME
/org.bbaw.pdr.ae/.settings

/org.bbaw.pdr.ae.aeimport/.settings

/org.bbaw.pdr.ae.backup/.settings

/org.bbaw.pdr.ae.base.feature/.settings

/org.bbaw.pdr.ae.collections/.settings

/org.bbaw.pdr.ae.collections/.settings

/org.bbaw.pdr.ae.collections/.settings

/*/.settings
