<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
         <view
            allowMultiple="false"
            class="org.bbaw.pdr.ae.view.main.views.Treeview"
            icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/tree.png"
            id="org.bbaw.pdr.ae.view.main.views.Treeview"
            name="%view.name"
            restorable="true">
      </view>
      <view
            class="org.bbaw.pdr.ae.view.main.views.CommentView"
            icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/comment.png"
            id="org.bbaw.pdr.ae.view.main.views.CcommentView"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.bbaw.pdr.ae.view.main.views.ReferenceCatView"
            icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/references.png"
            id="org.bbaw.pdr.ae.view.main.views.ReferenceCatView"
            name="%view.name.3"
            restorable="false">
      </view>
      
      <view
            allowMultiple="true"
            class="org.bbaw.pdr.ae.view.main.views.AspectsView"
            icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspects.png"
            id="org.bbaw.pdr.ae.view.main.views.AspectsView"
            name="%view.name.5"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenHandler"
            id="org.bbaw.pdr.ae.view.main.commands.Open"
            name="%command.label.42">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.file"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.NewHandler"
            id="org.bbaw.pdr.ae.view.main.commands.New"
            name="%command.name.3">
      </command>
      
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.CallPersonEditor"
            name="%command.name.21">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.CallAspectEditor"
            name="%command.name.23">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenSourceEditorDialogHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenSourceEditorDialog"
            name="%command.name.24">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.file"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenSelectObjectDialogHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenSelectObjectDialog"
            name="%command.name.25">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.file"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.NewAspectHandler"
            id="org.bbaw.pdr.ae.view.main.commands.NewAspect"
            name="%command.name.27">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.file"
            id="org.bbaw.pdr.ae.view.main.commands.NewPerson"
            name="%command.name.28">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.file"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.NewReferenceHandler"
            id="org.bbaw.pdr.ae.view.main.commands.NewReference"
            name="%command.name.31">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.AddNewAspectHandler"
            id="org.bbaw.pdr.ae.view.main.commands.AddNewAspect"
            name="%command.name.41">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.file"
            id="org.bbaw.pdr.ae.view.main.commands.QuickNewPerson"
            name="%command.name.42">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.AddSimilarAspectHandler"
            id="org.bbaw.pdr.ae.view.main.commands.AddSimilarAspect"
            name="%command.name.45">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.DeletePerson"
            name="%command.name.34">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.DeleteAspect"
            name="%command.name.35">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.DeleteReference"
            name="%command.name.36">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.Delete"
            name="delete">
      </command>
      
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenAspectsViewHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenAspectsView"
            name="OpenAspectsView">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenReferencesViewHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenReferencesView"
            name="OpenReferencesView">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenAdditionalAspectsViewHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenAdditionalAspectsView"
            name="OpenAdditionalAspectsView">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenAdditionalReferencesViewHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenAdditionalReferencesView"
            name="OpenAdditionalReferencesView">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.database"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.ExportReferenceModsTemplatesHandler"
            id="org.bbaw.pdr.ae.view.main.commands.ExportReferenceModsTemplates"
            name="OpenRefGenreEditor">
      </command>
      
      
      <command
            categoryId="org.bbaw.pdr.ae.category.preferences"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenRefGenreEditorHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenRefGenreEditor"
            name="OpenRefGenreEditor">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.preferences"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.EditUserHandler"
            id="org.bbaw.pdr.ae.view.main.commands.EditUser"
            name="EditUser">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.preferences"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.ChangeUserHandler"
            id="org.bbaw.pdr.ae.view.main.commands.ChangeUser"
            name="ChangeUser">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.ShowObjectsInTreeViewHandler"
            id="org.bbaw.pdr.ae.view.main.commands.ShowObjectsInTreeView"
            name="ShowObjectsInTreeView">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.view"
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.SelectTreeHandler"
            id="org.bbaw.pdr.ae.view.main.commands.SelectTree"
            name="SelectTree">
            <commandParameter
		         id="org.bbaw.pdr.ae.view.tree"
		         name="tree">
		   </commandParameter> 
      </command>
      <category
            id="org.bbaw.pdr.ae.category.file"
            name="%category.name">
      </category>
      <category
            id="org.bbaw.pdr.ae.category.edit"
            name="%category.name.0">
      </category>
      <category
            id="org.bbaw.pdr.ae.category.view"
            name="%category.name.1">
      </category>
      <category
            id="org.bbaw.pdr.ae.category.database"
            name="%category.name.2">
      </category>
      <category
            id="org.bbaw.pdr.ae.category.preferences"
            name="%category.name.3">
      </category>
      <category
            id="org.bbaw.pdr.ae.category.help"
            name="%category.name.4">
      </category>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenLoginDialogHandler"
            id="org.bbaw.pdr.ae.view.main.commands.openLoginDialog"
            name="OpenLoginDialog">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyUpdatedObjectsHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyUpdatedObjects"
            name="FilterOnlyUpdatedObjects">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyUpdatedObjects.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyNewObjectsHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyNewObjects"
            name="FilterOnlyNewObjects">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyNewObjects.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyIncorrectObjectsHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyIncorrectObjects"
            name="FilterOnlyIncorrectObjects">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyIncorrectObjects.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyPersonConcurrencesHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyPersonConcurrences"
            name="FilterOnlyPersonConcurrences">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyPersonConcurrences.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyAspectsDivergentMarkupHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyAspectsDivergentMarkup"
            name="FilterOnlyAspectsDivergentMarkup">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyAspectsDivergentMarkup.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyPersonIdentifiersHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyPersonIdentifiers"
            name="FilterOnlyPersonIdentifiers">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyPersonIdentifiers.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutPNDPersonsHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutPNDPersons"
            name="FilterOnlyWithoutPNDPersons">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutPNDPersons.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutLCCNPersonsHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutLCCNPersons"
            name="FilterOnlyWithoutLCCNPersons">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutLCCNPersons.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutVIAFPersonsHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutVIAFPersons"
            name="FilterOnlyWithoutVIAFPersons">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutVIAFPersons.toggleState" />
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutICCUPersonsHandler"
            id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutICCUPersons"
            name="FilterOnlyWithoutICCUPersons">
            <state class="org.eclipse.jface.commands.ToggleState"
					id="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutICCUPersons.toggleState" />
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.CreatePersonFromNameString"
            name="CreatePersonFromNameString">
         <commandParameter
               id="org.bbaw.pdr.ae.view.main.param.personNameString"
               name="personNameString"
               optional="true">
         </commandParameter>
         <commandParameter
               id="org.bbaw.pdr.ae.view.main.param.originalAspectID"
               name="originalAspect"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.CopyAspect"
            name="CopyAspect">
      </command>
      <command
            categoryId="org.bbaw.pdr.ae.category.edit"
            id="org.bbaw.pdr.ae.view.main.commands.CopyReference"
            name="CopyReference">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenAdvancedSearchHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenAdvancedSearchDialog"
            name="OpenAdvancedSearchDialog">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.OpenExpertSearchDialogHandler"
            id="org.bbaw.pdr.ae.view.main.commands.OpenExpertSearchDialog"
            name="OpenExpertSearchDialog">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.view.main.commands.NewSubReferenceHandler"
            id="org.bbaw.pdr.ae.view.main.commands.NewSubReference"
            name="NewSubReference">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.CallPersonEditorHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.CallPersonEditor">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.NewPersonHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.NewPerson">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.QuickNewPersonHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.QuickNewPerson">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.DeleteHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.Delete">
         <enabledWhen>
            <with
                  variable="org.bbaw.pdr.ae.control.userMayDelete">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.DeleteAspectHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.DeleteAspect">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.control.userMayDelete">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.DeletePersonHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.DeletePerson">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.control.userMayDelete">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.DeleteReferenceHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.DeleteReference">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.control.userMayDelete">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.CallAspectEditorHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.CallAspectEditor">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.CreatePersonFromNameStringHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.CreatePersonFromNameString">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.CopyAspectHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.CopyAspect">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="ADVANCED">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.main.commands.CopyReferenceHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.CopyReference">
      </handler>
   </extension>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.bbaw.pdr.ae.view.main.preferences.GeneralPage"
            id="org.bbaw.pdr.ae.view.main.preferences.GeneralPage"
            name="%page.general">
      </page>
      <page
            class="org.bbaw.pdr.ae.view.main.preferences.PersonPage"
            id="org.bbaw.pdr.ae.view.main.preferences.PersonPage"
            name="%page.person">
      </page>
      <page
            class="org.bbaw.pdr.ae.view.main.preferences.AspectPage"
            id="org.bbaw.pdr.ae.view.main.preferences.AspectPage"
            name="%page.aspect">
      </page>
      <page
            category="org.bbaw.pdr.ae.view.main.preferences.AspectPage"
            class="org.bbaw.pdr.ae.view.main.preferences.AspectViewPage"
            id="org.bbaw.pdr.ae.view.main.preferences.AspectCViewPage"
            name="%page.view">
      </page>
      
      
      <page
            category="org.bbaw.pdr.ae.view.main.preferences.AspectPage"
            class="org.bbaw.pdr.ae.view.main.preferences.FavoriteMarkupPage"
            id="org.bbaw.pdr.ae.view.main.preferences.FavoriteMarkupPage"
            name="%page.name.0">
      </page>
      <page
            class="org.bbaw.pdr.ae.view.main.preferences.ReferencePage"
            id="org.bbaw.pdr.ae.view.main.preferences.ReferencePage"
            name="%page.name.1">
      </page>
      <page
            category="org.bbaw.pdr.ae.view.main.preferences.PersonPage"
            class="org.bbaw.pdr.ae.view.main.preferences.FacetedSearchPage"
            id="org.bbaw.pdr.ae.view.main.preferences.FacetedSearch"
            name="%page.name.2">
      </page>
      <page
            category="org.bbaw.pdr.ae.view.main.preferences.AspectPage"
            class="org.bbaw.pdr.ae.view.main.preferences.FacetedAspectSearchPage"
            id="org.bbaw.pdr.ae.view.main.preferences.FacetedAspectSearch"
            name="%page.name.3">
      </page>
      <page
            category="org.bbaw.pdr.ae.view.main.preferences.AspectPage"
            class="org.bbaw.pdr.ae.view.main.preferences.AspectMarkupPage"
            id="org.bbaw.pdr.ae.view.main.preferences.AspectMarkupPage"
            name="AspectMarkup">
      </page>
   </extension>
	<extension point="org.eclipse.ui.services">
	    <sourceProvider provider="org.bbaw.pdr.ae.view.main.internal.TreeSelectionSourceProvider">
	        <variable 
	             name="org.bbaw.pdr.ae.view.tree"
	             priorityLevel="workbench">
	        </variable>
	        <variable 
	             name="org.bbaw.pdr.ae.view.treeType"
	             priorityLevel="workbench">
	        </variable>
	        <variable 
	             name="org.bbaw.pdr.ae.view.treeViewer"
	             priorityLevel="workbench">
	        </variable>
	    </sourceProvider>
	</extension>
	<extension
         point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.bbaw.pdr.ae.view.main.views.Treeview">
			    <menu
	                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/filter.png"
	                  id="filter"
	                  label="%menu.name.filter">
	               <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyUpdatedObjects"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/decoration_updated.png"
				         label="%command.label.FilterOnlyUpdatedObjects"
				        style="toggle">				        
				    </command>
				    <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyNewObjects"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/new.png"
				         label="%command.label.FilterOnlyNewObjects"
				        style="toggle">
				    </command>
				    <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyIncorrectObjects"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/decoration_error.png"
				         label="%command.label.FilterOnlyIncorrectObjects"
				        style="toggle">
				    </command>
				    <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyPersonConcurrences"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/concurrence.png"
				         label="%command.label.FilterOnlyPersonConcurrences"
				        style="toggle">
				        <visibleWhen>
				          <with
				                variable="org.bbaw.pdr.ae.view.treeType">
				             <equals
				                   value="pdrPo">
				             </equals>
				          </with>
				       </visibleWhen>
				    </command>
				    <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyAspectsDivergentMarkup"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/markup.png"
				         label="%command.label.FilterOnlyAspectsDivergentMarkup"
				        style="toggle">
				        <visibleWhen>
				          <with
				                variable="org.bbaw.pdr.ae.view.treeType">
				             <equals
				                   value="pdrAo">
				             </equals>
				          </with>
				       </visibleWhen>
				    </command>
				    <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyPersonIdentifiers"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/identifier.png"
				         label="%command.label.FilterOnlyPersonIdentifiers"
				        style="toggle">
				        <visibleWhen>
				          <with
				                variable="org.bbaw.pdr.ae.view.treeType">
				             <equals
				                   value="pdrPo">
				             </equals>
				          </with>
				       </visibleWhen>
				    </command>
				    <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutPNDPersons"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/filter.png"
				         label="%command.label.FilterOnlyWithoutPNDPersons"
				        style="toggle">
				        <visibleWhen>
				          <with
				                variable="org.bbaw.pdr.ae.view.treeType">
				             <equals
				                   value="pdrPo">
				             </equals>
				          </with>
				       </visibleWhen>
				    </command>
				    <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutLCCNPersons"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/filter.png"
				         label="%command.label.FilterOnlyWithoutLCCNPersons"
				        style="toggle">
				        <visibleWhen>
				          <with
				                variable="org.bbaw.pdr.ae.view.treeType">
				             <equals
				                   value="pdrPo">
				             </equals>
				          </with>
				       </visibleWhen>
				    </command>
				    <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutVIAFPersons"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/filter.png"
				         label="%command.label.FilterOnlyWithoutVIAFPersons"
				        style="toggle">
				        <visibleWhen>
				          <with
				                variable="org.bbaw.pdr.ae.view.treeType">
				             <equals
				                   value="pdrPo">
				             </equals>
				          </with>
				       </visibleWhen>
				    </command>
				     <command
				        commandId="org.bbaw.pdr.ae.view.main.commands.FilterOnlyWithoutICCUPersons"
				        icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/filter.png"
				         label="%command.label.FilterOnlyWithoutICCUPersons"
				        style="toggle">
				        <visibleWhen>
				          <with
				                variable="org.bbaw.pdr.ae.view.treeType">
				             <equals
				                   value="pdrPo">
				             </equals>
				          </with>
				       </visibleWhen>
				    </command>
	            </menu>
			    
			</menuContribution>
  <menuContribution
        locationURI="popup:org.bbaw.pdr.view.main.editor.AspectEditor">
  </menuContribution>
  <menuContribution
        locationURI="popup:org.bbaw.pdr.ae.view.main.views.AspectsView">
     <command
           commandId="org.bbaw.pdr.ae.view.main.commands.CopyAspect"
           icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspect_copy.png"
           label="%command.label.CopyAspect"
           style="push">
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="org.bbaw.pdr.ae.aeVersion.advanced">
              <equals
                    value="ADVANCED">
              </equals>
           </with>
        </visibleWhen>
     </command>
  </menuContribution>
  <menuContribution
        locationURI="popup:org.bbaw.pdr.ae.view.main.views.ReferenceCatView">
     <command
           commandId="org.bbaw.pdr.ae.view.main.commands.CopyReference"
           icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/reference_copy.png"
           label="%command.label.CopyReference"
           style="push">
     </command>
     <command
           commandId="org.bbaw.pdr.ae.view.main.commands.OpenReferencesView"
           icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/reference_edit.png"
           label="%command.label.OpenReferencesView"
           style="push">
     </command>
  </menuContribution>
		</extension>
</plugin>
