<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.bbaw.pdr.ae.category.help"
            name="%category.name">
      </category>
      <command
            categoryId="org.bbaw.pdr.ae.category.help"
            id="org.bbaw.pdr.ae.errorReport.OpenErrorReport"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bbaw.pdr.ae.errorreport.OpenReportErrorDialogHandler"
            commandId="org.bbaw.pdr.ae.errorReport.OpenErrorReport">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   </extension>

</plugin>
