<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.bbaw.pdr.ae.standalone.AEApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.bbaw.pdr.ae.view.main.fileMenu"
               label="%menu.label">
            <command
                  commandId="org.bbaw.pdr.ae.aeimport.commands.Import"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/document_import.png"
                  label="%command.label.48"
                  style="push">
            </command>
            <separator
                  name="ArchivEditor.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.view.standalone.commands.Exit"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/exit.png"
                  label="%command.label.6"
                  style="push"
                  tooltip="%command.tooltip.6">
            </command>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.dbMenu"
               label="%menu.label.3">
            <command
                  commandId="org.bbaw.pdr.ae.backup.commands.WriteLocalBackup"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/backup_save.png"
                  label="%command.writeLocalBackup"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.backup.commands.LoadLocalBackup"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/backup_load.png"
                  label="%command.loadLocalBackup"
                  style="push">
            </command>
            <separator
                  name="ArchivEditor.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.db.basex.OpenBaseX"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/file-basex.png"
                  label="%command.openBaseX"
                  style="push"
                  tooltip="%command.tooltipBaseX">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
                  <!--
                  <visibleWhen
                        checkEnabled="true">
				          <with
				                variable="org.bbaw.pdr.ae.control.userRole">
				             <equals
				                   value="pdrAdmin">
				             </equals>
				          </with>
				       </visibleWhen>
				       -->
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.backup.commands.CreateEmptyDB"
                  label="%command.label.createEmptyDB"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.propMenu"
               label="%menu.label.4">
            <separator
                  name="ArchivEditor.separator44"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.backup.commands.WriteConfigBackup"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/configuration_save.png"
                  label="%command.label.56"
                  style="push"
                  tooltip="%command.tooltip.39">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.backup.commands.LoadConfigBackup"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/configuration_load.png"
                  label="%command.label.57"
                  style="push"
                  tooltip="%command.tooltip.40">
            </command>
            <separator
                  name="ArchivEditor.separator445"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.repositoryconnection.commands.ModifyRepositoryConnection"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/repository_connection.png"
                  label="%command.label.modifyRepositoryConnection"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.myhelp"
               label="%menu.label.5">
            <separator
                  name="ArchivEditor.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipselabs.p2.rcpupdate.update.wrapper"
                  label="%command.label.61"
                  style="push">
            </command>
            <command
                  commandId="org.eclipselabs.p2.rcpupdate.install"
                  label="%command.label.62"
                  style="push">
            </command>
            <separator
                  name="ArchivEditor.separator1"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.bbaw.pdr.commands.toolbar.main">
            <separator
                  name="ArchivEditor.separator9"
                  visible="true">
            </separator>
            <control
                  class="org.bbaw.pdr.ae.standalone.WorkbenchWindowControlContributionUser"
                  id="org.bbaw.pdr.ae.standalone.WorkbenchWindowControlContributionUser">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bbaw.pdr.ae.standalone.application"
            name="Archiv-Editor">
         <property
               name="windowImages"
               value="icons/icon_ae_16.gif,icons/icon_ae_32.gif,icons/icon_ae_48.gif,icons/icon_ae_64.gif,icons/icon_ae_128.gif">
         </property>
         <property
               name="aboutText"
               value="%property.aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/logo_bbaw.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
         <property
               name="startupProgressRect"
               value="74,285,250,15">
         </property>
         <property
               name="startupMessageRect"
               value="170,273,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Archiv-Editor">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bbaw.pdr.ae.standalone.commands.ExitHandler"
            id="org.bbaw.pdr.ae.view.standalone.commands.Exit"
            name="Exit Application">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.standalone.commands.UpdateSoftwareHandler"
            id="org.eclipselabs.p2.rcpupdate.update.wrapper"
            name="update software">
      </command>
   </extension>
   <extension
         id="org.bbaw.pdr.ae.keyConfig"
         point="org.eclipse.ui.bindings">
      <scheme
            description="Archiv-Editor Key Binding Configuration"
            id="org.bbaw.pdr.ae.keyConfig"
            name="AE-KeyConfig"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="org.bbaw.pdr.ae.view.main.commands.Open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.bbaw.pdr.ae.keyConfig"
            sequence="M1+O">
      </key>
      <key
            commandId="org.bbaw.pdr.ae.view.main.commands.QuickNewPerson"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.bbaw.pdr.ae.keyConfig"
            sequence="M1+Q">
      </key>
      <key
            commandId="org.bbaw.pdr.ae.view.main.commands.AddSimilarAspect"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.bbaw.pdr.ae.keyConfig"
            sequence="M1+A">
      </key>
   </extension>
   
   
   
   <!-- auskommentiert.
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="ArchivEditor.application"
            name="ArchivEditor beta">
         <property
               name="windowImages"
               value="icons/icon_ae_16.gif,icons/icon_ae_32.gif,icons/icon_ae_48.gif,icons/icon_ae_64.gif,icons/icon_ae_128.gif">
         </property>
         <property
               name="aboutText"
               value="%property.aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/logo_bbaw.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
         <property
               name="startupProgressRect"
               value="74,277,300,15">
         </property>
         <property
               name="startupMessageRect"
               value="170,273,445,20">
         </property>
         <property
               name="appName"
               value="ArchivEditor beta">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
   <extension point="org.eclipse.ui.preferences">
   	<view
   		class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
   		id="org.bbaw.pdr.ae.view.main.preferences.pages.KeyPreferencePage"
   		name="KeyPreferencePage"/>
   	</extensioin>
   	
   	<extension
          id="org.bbaw.pdr.ae.view.main.AEPropertyTester"
          name="org.bbaw.pdr.ae.view.main.AEPropertyTester"
          point="org.eclipse.core.expressions.propertyTesters">
<propertyTester
class="org.bbaw.pdr.ae.view.main.AEPropertyTester"
id="org.bbaw.pdr.ae.view.main.AEPropertyTester"
namespace="org.bbaw.pdr.ae.view.main.rights"
properties="userIsAdmin"
type="java.lang.Object">
</propertyTester>
</extension>-->
</plugin>
