<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bbaw.pdr.ae.base.Perspective"
            fixed="false"
            icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspects.png"
            id="org.bbaw.pdr.ae.base.aspectsPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.bbaw.pdr.ae.base.commands.OpenAspectsPerspectiveHandler"
            id="org.bbaw.pdr.ae.base.commands.openAspectsPerspective"
            name="openAspectsPerspective">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.base.commands.RefreshFromDBHandler"
            id="org.bbaw.pdr.ae.base.commands.RefreshFromDB"
            name="RefreshFromDB">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.base.commands.OpenMailinglistHandler"
            id="org.bbaw.pdr.ae.base.commands.openMailinglist"
            name="openMailinglist">
      </command>
      <command
            id="org.bbaw.pdr.ae.command1"
            name="name">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.base.commands.OpenAEFAQHandler"
            id="org.bbaw.pdr.ae.base.commands.openAEFAQ"
            name="openAEFAQ">
      </command>
      <command
            defaultHandler="org.bbaw.pdr.ae.base.commands.RemoveDuplicateAspectsHandler"
            id="org.bbaw.pdr.ae.command.removeDuplicateAspects"
            name="removeDuplicateAspects">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.bbaw.pdr.commands.toolbar.person">
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.QuickNewPerson"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_person_quick.png"
                  id="org.bbaw.pdr.ae.view.main.commands.QuickNewPerson"
                  label="%command.label.64"
                  style="push"
                  tooltip="%command.tooltip.41">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.editorLite.CallPersonAspectEditor"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_person_aspect_edit.png"
                  label="%command.label.CallPersonAspectEditor"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.CallPersonEditor"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_person_edit.png"
                  label="%command.label.34"
                  style="push"
                  tooltip="%command.tooltip.27">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.DeletePerson"
                  disabledIcon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_person_delete_disabled.png"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_person_delete.png"
                  label="%command.deletePerson"
                  style="push">
            </command>
            <separator
                  name="ArchivEditor.separator6"
                  visible="true">
            </separator>
         </toolbar>
         <toolbar
               id="org.bbaw.pdr.commands.toolbar.aspect">
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.NewAspect"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_aspect_new.png"
                  label="%command.label.40"
                  style="push"
                  tooltip="%command.tooltip.29">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.CallAspectEditor"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_aspect_edit.png"
                  label="%command.label.12"
                  style="push"
                  tooltip="%command.tooltip.26">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.CopyAspect"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_aspect_copy.png"
                  label="%command.label.CopyAspect"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.DeleteAspect"
                  disabledIcon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_aspect_delete_disabled.png"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_aspect_delete.png"
                  label="%command.deleteAspect"
                  style="push">
            </command>
            <separator
                  name="org.bbaw.pdr.ae.standalone.separator7"
                  visible="true">
            </separator>
         </toolbar>
         <toolbar
               id="org.bbaw.pdr.commands.toolbar.source">
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.NewReference"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_reference_new.png"
                  label="%command.newReference"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.OpenSourceEditorDialog"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_reference_edit.png"
                  label="%command.label.35"
                  style="push"
                  tooltip="%command.tooltip.28">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.CopyReference"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_reference_copy.png"
                  label="%command.label.CopyReference"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.DeleteReference"
                  disabledIcon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_reference_delete_disabled.png"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_reference_delete.png"
                  label="%command.deleteReference"
                  style="push">
            </command>
            <separator
                  name="org.bbaw.pdr.ae.standalone.separator9"
                  visible="true">
            </separator>
         </toolbar>
         <toolbar
               id="org.bbaw.pdr.commands.toolbar.main">
            <command
                  commandId="org.bbaw.pdr.ae.base.commands.RefreshFromDB"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_refresh.png"
                  label="%command.label.65"
                  style="push"
                  tooltip="%command.tooltip.42">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="ArchivEditor.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.repositoryconnection.commands.UpdateAllData"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/toolbar_repository.png"
                  label="%command.label.updateAllData"
                  style="push"
                  tooltip="%command.label.updateAllData">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.repository.canSynchronize">
                     <equals
                           value="TRUE">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="ArchivEditor.separator9"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.bbaw.pdr.ae.view.main.views.AspectsView">
         <command
               commandId="org.bbaw.pdr.ae.view.main.commands.Open"
               icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/edit.png"
               label="%command.label.42"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.bbaw.pdr.ae.view.main.views.Treeview">
         <command
               commandId="org.bbaw.pdr.ae.view.main.commands.Open"
               icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/reference_pencil.png"
               label="%command.label.EditReference"
               style="push">
            <visibleWhen>
               <with
                     variable="org.bbaw.pdr.ae.view.treeType">
                  <equals
                        value="pdrRo">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.bbaw.pdr.ae.view.main.commands.NewSubReference"
               icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/reference_add.png"
               label="%command.label.AddSubReference"
               style="push">
            <visibleWhen>
               <with
                     variable="org.bbaw.pdr.ae.view.treeType">
                  <equals
                        value="pdrRo">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.bbaw.pdr.ae.view.main.commands.Open"
               icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/person_edit.png"
               label="%command.label.EditPerson"
               style="push">
            <visibleWhen>
               <with
                     variable="org.bbaw.pdr.ae.view.treeType">
                  <equals
                        value="pdrPo">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.bbaw.pdr.ae.view.main.commands.Open"
               icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspect_edit.png"
               label="%command.label.EditAspect"
               style="push">
            <visibleWhen>
               <with
                     variable="org.bbaw.pdr.ae.view.treeType">
                  <equals
                        value="pdrAo">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.bbaw.pdr.ae.view.main.fileMenu"
               label="%menu.label"
               mnemonic="F">
            <menu
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/new.png"
                  id="newMenu"
                  label="%menu.label.6">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </menu>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.Open"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/edit.png"
                  label="%command.label.42"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.Delete"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/delete.png"
                  label="%command.label.46"
                  style="push">
            </command>
            <separator
                  name="ArchivEditor.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.base.commands.RefreshFromDB"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/refresh.png"
                  label="%command.label.49"
                  style="push"
                  tooltip="%command.tooltip.35">
            </command>
            <separator
                  name="ArchivEditor.separator2"
                  visible="true">
            </separator>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.personMenu"
               label="%menu.label.person"
               mnemonic="P">
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.QuickNewPerson"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/person_quick.png"
                  label="%command.label.38"
                  style="push"
                  tooltip="%command.tooltip.31">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.NewPerson"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/person_new.png"
                  label="%command.label.39"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.editorLite.CallPersonAspectEditor"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/person_aspect_edit.png"
                  label="%command.label.CallPersonAspectEditor"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.CallPersonEditor"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/person_edit.png"
                  label="%command.label.43"
                  style="push"
                  tooltip="%command.tooltip.32">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.DeletePerson"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/person_delete.png"
                  label="%command.label.52"
                  style="push"
                  tooltip="%command.tooltip.36">
            </command>
            <separator
                  name="org.bbaw.pdr.ae.view.main.preferences.pages.PersonPageArchivEditor.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/preferences.png"
                  label="%command.label.personPref"
                  style="push">
               <parameter
                     name="preferencePageId"
                     value="org.bbaw.pdr.ae.view.main.preferences.PersonPage">
               </parameter>
            </command>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.aspectMenu"
               label="%menu.label.aspect"
               mnemonic="A">
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.NewAspect"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspect_new.png"
                  label="%command.label.40"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.CopyAspect"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspect_copy.png"
                  label="%command.label.CopyAspect"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.CallAspectEditor"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspect_edit.png"
                  label="%command.label.12"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.DeleteAspect"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspect_delete.png"
                  label="%command.label.53"
                  style="push"
                  tooltip="%command.tooltip.37">
            </command>
            <separator
                  name="ArchivEditor.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/preferences.png"
                  label="%command.label.aspectPref"
                  style="push">
               <parameter
                     name="preferencePageId"
                     value="org.bbaw.pdr.ae.view.main.preferences.AspectPage">
               </parameter>
            </command>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.referenceMenu"
               label="%menu.label.reference"
               mnemonic="e">
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.NewReference"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/reference_new.png"
                  label="%command.label.41"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.CopyReference"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/reference_copy.png"
                  label="%command.label.CopyReference"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.OpenSourceEditorDialog"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/reference_edit.png"
                  label="%command.label.51"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.DeleteReference"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/reference_delete.png"
                  label="%command.label.54"
                  style="push"
                  tooltip="%command.tooltip.38">
            </command>
            <separator
                  name="ArchivEditor.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/preferences.png"
                  label="%command.label.referencePref"
                  style="push">
               <parameter
                     name="preferencePageId"
                     value="org.bbaw.pdr.ae.view.main.preferences.ReferencePage">
               </parameter>
            </command>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.viewMenu"
               label="%menu.label.2"
               mnemonic="i">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/perspective.png"
                  label="%command.label.19"
                  style="push"
                  tooltip="%command.tooltip.12">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.OpenReferencesView"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/references.png"
                  label="%command.label.55"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.OpenAspectsView"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspects.png"
                  label="%command.label.aspectsView"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="org.bbaw.pdr.ae.standalone.test"
                        value="true">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.identifiers.commands.OpenBrowserView"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/browser.png"
                  label="%command.label.browserView"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.identifiers.commands.OpenIdentifierSearchView"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/identifier.png"
                  label="%command.label.OpenIdentifierSearch"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.concurrences.commands.OpenConcurrenceView"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/concurrence.png"
                  label="%command.label.concurrenceView"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="ArchivEditor.separator1"
                  visible="true">
            </separator>
            <menu
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/perspective.png"
                  label="%command.label.changePerspective">
               <command
                     commandId="org.bbaw.pdr.ae.base.commands.openAspectsPerspective"
                     icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/aspects.png"
                     label="%command.label.ChangeToAspects-Perspective"
                     style="push">
               </command>
               <command
                     commandId="org.bbaw.pdr.ae.view.concurrences.commands.OpenConcurrencePerspective"
                     icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/concurrence.png"
                     label="%command.label.ChangeToConcurrence-Perspective"
                     style="push">
               </command>
               <command
                     commandId="org.bbaw.pdr.ae.view.identifiers.commands.OpenIdentifierPerspective"
                     icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/browser.png"
                     label="%command.label.ChangeToIdentifier-Perspective"
                     style="push">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </menu>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.dbMenu"
               label="%menu.label.3"
               mnemonic="D">
            <separator
                  name="ArchivEditor.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.repositoryconnection.commands.UpdateAllData"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/repository_update.png"
                  label="%command.label.updateAllData"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.repository.canSynchronize">
                     <equals
                           value="TRUE">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.command.removeDuplicateAspects"
                  label="Remove Duplicate Aspects"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.propMenu"
               label="%menu.label.4"
               mnemonic="s">
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.EditUser"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/user.png"
                  label="%command.label.23"
                  style="push"
                  tooltip="%command.tooltip.16">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.ChangeUser"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/user_switch.png"
                  label="%command.label.58"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/preferences.png"
                  label="%command.preferences"
                  style="push">
            </command>
            <separator
                  name="ArchivEditor.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.config.editor.commands.OpenConfigEditor"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/configuration_edit.png"
                  label="%command.label.59"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.view.main.commands.OpenRefGenreEditor"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/references_types.png"
                  label="%command.label.60"
                  style="push">
            </command>
            <separator
                  name="ArchivEditor.separator44"
                  visible="true">
            </separator>
            <separator
                  name="ArchivEditor.separator445"
                  visible="true">
            </separator>
         </menu>
         <menu
               id="org.bbaw.pdr.ae.view.main.myhelp"
               label="%menu.label.5"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/manual.png"
                  label="%command.label.25"
                  style="push"
                  tooltip="%command.tooltip.18">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/search.png"
                  label="%command.label.26"
                  style="push"
                  tooltip="%command.tooltip.19">
            </command>
            <command
                  commandId="org.eclipse.ui.help.dynamicHelp"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/help_sidebar.png"
                  label="%command.label.27"
                  style="push"
                  tooltip="%command.tooltip.20">
            </command>
            <separator
                  name="ArchivEditor.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bbaw.pdr.ae.errorReport.OpenErrorReport"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/bugreport.png"
                  label="%command.label.63"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="org.bbaw.pdr.ae.aeVersion.advanced">
                     <equals
                           value="ADVANCED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.base.commands.openMailinglist"
                  label="PDR-Mailingliste"
                  style="push">
            </command>
            <command
                  commandId="org.bbaw.pdr.ae.base.commands.openAEFAQ"
                  label="Archiv-Editor FAQ"
                  style="push">
            </command>
            <separator
                  name="ArchivEditor.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="platform:/plugin/org.bbaw.pdr.ae.common/src/org/bbaw/pdr/ae/common/icons/icon_ae_16.gif"
                  label="%command.label.28"
                  style="push"
                  tooltip="%command.tooltip.21">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
