<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.bbaw.pdr.ae.view.editorLite.CallPersonAspectEditor"
            name="CallPersonAspectEditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bbaw.pdr.ae.view.editorlite.commands.CallPersonAspectEditorHandler"
            commandId="org.bbaw.pdr.ae.view.editorLite.CallPersonAspectEditor">
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.editorlite.commands.NewPersonAspectEditorHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.QuickNewPerson">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="LITE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.editorlite.commands.CallPersonAspectEditorHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.CallPersonEditor">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="LITE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.editorlite.commands.EditAspectInPAEditorHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.CallAspectEditor">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="LITE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bbaw.pdr.ae.view.editorlite.commands.CreatePersonFromNameStringLiteHandler"
            commandId="org.bbaw.pdr.ae.view.main.commands.CreatePersonFromNameString">
         <activeWhen>
            <with
                  variable="org.bbaw.pdr.ae.aeVersion.advanced">
               <equals
                     value="LITE">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
