<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
         <command
            categoryId="org.bbaw.pdr.ae.category.preferences"
            id="org.bbaw.pdr.ae.config.editor.commands.OpenConfigEditor"
            name="%command.name.38">
      </command>
      
   </extension>
	<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bbaw.pdr.ae.config.editor.commands.OpenConfigEditorHandler"
            commandId="org.bbaw.pdr.ae.config.editor.commands.OpenConfigEditor">
      </handler>
   </extension>
</plugin>
