<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.bbaw.pdr.ae.view.control.swtnotrwthelper">
      <swtnotrwthelper
            class="org.bbaw.pdr.ae.view.control.swtnotrwthelper.SWTnotRWTHelper">
      </swtnotrwthelper>
   </extension>

</plugin>
